<div class="bg-gradient-to-r from-cyan-600 to-green-400">
  <div class="max-w-3xl mx-auto py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block"><%= t("pricing.v2.cta.title") %></span>
      <span class="block text-cyan-900"><%= t("pricing.v2.cta.subtitle") %></span>
    </h2>
    <a href="#" class="mt-8 w-full bg-cyan-50 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-cyan-700 hover:bg-cyan-100 sm:w-auto">Get started today</a>
  </div>
</div>
